[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
gtid_mode = ON
enforce_gtid_consistency = ON
binlog_checksum = CRC32
master_info_repository = TABLE
relay_log_info_repository = TABLE
expire_logs_days = 7
max_binlog_size = 256M
